<div  class="container-fluid">

  <div class="alert alert-danger text-center" *ngIf="invalidRegister">{{errorMessage | json}}</div>
  <div class="alert alert-danger text-center" *ngIf="signInForm.errors?.mismatch">   Passwords do not match  </div>


    <form ngNativeValidate class="form-signin" [formGroup]="signInForm" (ngSubmit)="onSubmit()"  style="padding-top: 5em;">

        <h1 class="h3 mb-3 font-weight-normal">Create your Account</h1>
        <div class="form-group">
        <input required type="email" formControlName="EmailAddress"  class="form-control"
        [class.is-invalid]="signInForm.get('EmailAddress').invalid && signInForm.get('EmailAddress').touched"
         placeholder="Email address" >
      </div>

        <div class="form-group">
        <input required  formControlName="password" type="password"   class="form-control"
        [class.is-invalid]="signInForm.get('password').invalid && signInForm.get('password').touched"
         placeholder="Password"  >
      </div>

      <div class="form-group">
        <input required formControlName="confirmPassword" type="password"  class="form-control"
        [class.is-invalid]="signInForm.errors?.mismatch"
          placeholder="Confirm Password">
      </div>


        <button  type="submit" class="btn btn-lg btn-block btn-primary" >Sign Up</button>
        <button [routerLink]="['/login']" routerLinkActive="router-link-active"
        class="btn btn-lg btn-dark btn-block">Already have an Account? Login</button>



    </form>

</div>

