<div style="padding-top:2em;" class="container">

  <ngx-loading [show]="loading"></ngx-loading>


  <div *ngIf="errorMessage">
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align:center;">
      <strong>Error!</strong> - {{errorMessage}}
    </div>
  </div>

  <div style="text-align:center;">
    <h4>Select a date to start Tracking.</h4>
  </div>

  <div style="padding-top:2em;" class='app-calendar'>
    <full-calendar #calendar
                   [header]="{
                   left: 'title',
                   right: 'prev,next',
                   center: ''
                   }"
                   defaultView="dayGridMonth"
                   [plugins]="calendarPlugins"
                   [events]="calendarEvents"
                   (dateClick)="handleDateClick($event)"></full-calendar>
  </div>


</div>
