

<div class="Home">



  <div class="MainText">


    <div class="container">
      <h1 style="font-size:55px;">
        Welcome to SpendBeta! 
      </h1>

      <h6 style="font-weight:300;padding-top:10px;">
        Use our lightweight expense tracker and keep track of how your money is spent.
      </h6>


      <div *ngIf="!UserId" style="padding-top:1em;">
        <button data-toggle="modal" data-target="#exampleModalScrollable" class="btn HomeButton">Get Started</button>
      </div>

      <div *ngIf="UserId" style="padding-top:1em;">
        <button data-toggle="modal" routerLink="/DailyRecords" routerLinkActive="active" class="btn HomeButton">Start Tracking</button>
      </div>

    </div>
  </div>

  <div class="container">

    <div style="padding-top:5em;" class="CoreFeatures">
      <div class="row">

        <div class="col-md-4">
          <div class="card border-light mb-3">
            <img height="230" src="../../assets/Images/sharon-mccutcheon--8a5eJ1-mmQ-unsplash.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">Spend Daily</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card border-light mb-3">
            <img height="230" src="../../assets/Images/person-holding-black-and-grey-pen-163032.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">Record Daily Spendings</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card border-light mb-3">
            <img height="230" src="../../assets/Images/New analytics.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">Get analysis of recorded spendings</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div style="padding-top:2em;" class="Features">


    <div style="margin-top:5em; background-color:whitesmoke;">
      <div style="padding-top:3em; padding-bottom:3em;" class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="../../assets/Images/background-balance-business-commerce-583846.jpg" class="card-img" alt="..." />
          </div>
          <div style="text-align:right;" class="col-md-6 FeatureText">

            <div style="margin-top:2em;">
              <h2>
                Easily record your daily spendings
              </h2>

              <h6 style="font-weight:300;padding-top:10px;">
                Secure, fast and reliable. You'll never have to stress yourself
              </h6>


              <div style="padding-top:1em;">
                <button class="btn btn-outline-primary">See A Demo</button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>



    <div style="padding-top:7em;">
      <div class="container">
        <div class="row">
          <div style="text-align:left;" class="col-md-6 order-md-1 order-2 FeatureText">

            <div style="margin-top:2em;">
              <h2>
                Get accurate analytics
              </h2>

              <h6 style="font-weight:300;padding-top:10px;">
                Updated at every moment. Your spending anaylysis is never wrong.
              </h6>


              <div style="padding-top:1em;">
                <button class="btn btn-outline-primary">See A Demo</button>
              </div>

            </div>

          </div>

          <div  class="col-md-6 order-1 order-md-2">
            <img src="../../assets/Images/analytics-text-185576.jpg" class="card-img" alt="..." />
          </div>
        </div>
      </div>
    </div>

  </div>

</div>





<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div style="height:400px; "  class="modal-content">
      <div class="modal-body">
        <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <app-login></app-login>
      </div>
    </div>
   

  </div>
</div>
